<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>杭电助手</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>help.hdu.lemon.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hduhelplemon</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>开启定位将允许杭电地图等功能展示您的实时位置。</string>
	<key>NSUserActivityTypes</key>
	<dict>
		<key>OpenCard</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).card</string>
		<key>OpenHdumap</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).hdumap</string>
		<key>OpenSchedule</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).schedule</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>view_week</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>课表</string>
			<key>UIApplicationShortcutItemType</key>
			<string>help.hdu.lemon.ios.schedule</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>credit_card</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>一卡通</string>
			<key>UIApplicationShortcutItemType</key>
			<string>help.hdu.lemon.ios.card</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>map</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>地图</string>
			<key>UIApplicationShortcutItemType</key>
			<string>help.hdu.lemon.ios.hdumap</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
